<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Wasiat</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/static/img/favicon.png}" rel="icon">


    <!-- Google Fonts -->
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- style form -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Form</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 80px;
            width: 400px;
            margin-bottom: 100px;
            margin-top: 350px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button,
        select {
            margin-top: 8px;
            margin-bottom: 10px;
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }

        .green-button:hover {
            background-color: #45a049;
        }

        .blue-button:hover {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .grey-button:hover {
            background-color: #757575;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .hidden {
            display: none;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .button-container button {
            margin-bottom: 100px;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 20px;
        }

        /* .inline-selects {
      display: flex;
      justify-content: space-between;
      /* gap: 10px; */
        /* Adjust the gap as needed 
    } */
    </style>

    <!-- =======================================================
  * Template Name: Selecao
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="index.html">Selecao</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Laman Utama</a></li>
                    <li><a class="nav-link scrollto" href="#about">Tentang Kami</a></li>
                    <li><a class="nav-link scrollto" href="#services">Servis</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="#team">Ahli Kumpulan</a></li>
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <nav id="navbar-login" class="navbar-login">
                    <ul>
                        <li><a class="nav-link scrollto" href="login.html">Log Masuk</a></li>
                        <li><a class="nav-link scrollto" href="#pricing">Daftar Sekarang!</a></li>
                    </ul>
                </nav>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <h2>Create Wasiat</h2>

    <form action="/wasiat/create" method="post" th:object="${wasiat}">
        <br>
        <div id="firstForm">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" onchange="showForm()" th:field="*{gender}">
                <option value="">pilih</option>
                <option value="lelaki">Lelaki</option>
                <option value="perempuan">Perempuan</option>
            </select>

            <div id="isteriNum" class="hidden">
                <!-- "isteri" form elements go here -->
                <br>
                <label for="isteri">Isteri</label>
                <select id="isteri" name="isteri" onchange="forFirstForm(this, 'isteriNumInputs')" th:field="*{isteri}">
                    <option value="">pilih</option>
                    <option value="tiada">tiada</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <div id="isteriNumInputs" class="hidden">
                </div>
            </div>

            <div id="suamiNum" class="hidden">
                <!-- "suami" form elements go here -->
                <br>
                <label for="suami">Suami</label>
                <select id="suami" name="suami" onchange="toggleTextInput(this, 'suamiInput')" th:field="*{suami}">
                    <option value="">pilih</option>
                    <option value="tiada">Tiada</option>
                    <option value="ada">Ada</option>
                </select>
                <div id="suamiInput" class="hidden">
                    <label for="suamiTextInput">Nama Suami</label>
                    <input type="text" id="suamiTextInput" name="suamiTextInput" />
                </div>
            </div><br>
            <div class="button-container">
                <button type="button" class="blue-button"
                    onclick="showNextForm('firstForm', 'anakPunya')">Seterusnya</button>
            </div>
        </div>

        <div id="anakPunya" class="hidden">
            <div class="inline-selects">
                <div class="form-group" id="anakLelakiContainer">
                    <label for="anakLelaki">Anak Lelaki</label>
                    <select id="anakLelaki" name="anakLelaki" onchange="forAnakPunya('anakLelakiInputs', this)"
                        th:field="*{anakLelaki}">
                        <option value="">pilih</option>
                        <option value="tiada">tiada</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div id="anakLelakiInputs" class="hidden"></div>
                    <div class="button-container">
                        <button type="button" class="blue-button"
                            onclick="showNextForm('anakLelakiContainer', 'anakPerempuanContainer')">Seterusnya</button>
                        <button type="button" class="grey-button"
                            onclick="showPrevForm('firstForm', 'anakPunya')">Kembali</button>
                    </div>
                </div>

                <div class="form-group" id="anakPerempuanContainer" class="hidden">
                    <label for="anakPerempuan">Anak Perempuan</label>
                    <select id="anakPerempuan" name="anakPerempuan" onchange="forAnakPunya('anakPerempuanInputs', this)"
                        th:field="*{anakPerempuan}">
                        <option value="">pilih</option>
                        <option value="tiada">tiada</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div id="anakPerempuanInputs" class="hidden"></div>
                    <div class="button-container">
                        <button type="button" class="blue-button"
                            onclick="showNextForm('anakPerempuanContainer', 'anakAngkatContainer')">Seterusnya</button>
                        <button type="button" class="grey-button"
                            onclick="showPrevForm('anakLelakiContainer', 'anakPerempuanContainer')">Kembali</button>
                    </div>
                </div>

                <div class="form-group" id="anakAngkatContainer" class="hidden">
                    <label for="anakAngkat">Anak Angkat</label>
                    <select id="anakAngkat" name="anakAngkat" onchange="forAnakPunya('anakAngkatInputs', this)"
                        th:field="*{anakAngkat}">
                        <option value="">pilih</option>
                        <option value="tiada">tiada</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div id="anakAngkatInputs" class="hidden"></div>
                    <div class="button-container">
                        <button type="button" class="blue-button"
                            onclick="showNextForm('anakAngkatContainer', 'okuContainer')">Seterusnya</button>
                        <button type="button" class="grey-button"
                            onclick="showPrevForm('anakPerempuanContainer', 'anakAngkatContainer')">Kembali</button>
                    </div>
                </div>

                <div class="form-group" id="okuContainer" class="hidden">
                    <br>
                    <label for="confirmation">Adakah ada anak-anak diatas yang masih dibawah umur atau OKU?</label>
                    <select id="confirmation" name="confirmation" th:field="*{confirmation}">
                        <option value="">pilih</option>
                        <option value="ada">ada</option>
                        <option value="tiada">tiada</option>
                    </select>
                    <div class="button-container">
                        <button type="button" class="blue-button"
                            onclick="showNextForm('okuContainer', 'thirdForm')">Seterusnya</button>
                        <button type="button" class="grey-button"
                            onclick="showPrevForm('anakAngkatContainer', 'okuContainer')">Kembali</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden" id="thirdForm">
            <div>
                <label for="perbelanjaan">Berapakah jumlah perbelanjaan untuk keluarga setiap bulan</label><br>
                <input type="number" id="perbelanjaan" name="perbelanjaan" th:field="*{perbelanjaan}"
                    oninput="checkFormCompleteness()"><br><br>
            </div>

            <div>
                <label for="anggaran">Berapakah anggaran nilai harta anda </label>
                <select id="anggaran" name="anggaran" th:field="*{anggaran}" oninput="checkFormCompleteness()">
                    <option value="">pilih</option>
                    <option value="kurang">Kurang dari RM2 juta</option>
                    <option value="lebih">Lebih dari RM2 juta</option>
                </select><br><br>
            </div>

            <div>
                <label for="hibah">Adakah anda bercadang untuk membuat Hibah?</label>
                <select id="hibah" name="hibah" th:field="*{hibah}" oninput="checkFormCompleteness()">
                    <option value="">pilih</option>
                    <option value="ya">Ya</option>
                    <option value="tidak">Tidak</option>
                </select>
            </div>
            <button type="button" class="grey-button button-container"
                onclick="showPrevForm('okuContainer', 'thirdForm')">Kembali</button>
        </div>

        <input type="hidden" th:field="*{user}" th:value="${wasiat.user}" />

        <button type="submit" id="submitButton" class="hidden green-button">Submit</button>
    </form>

    <script>

        function showForm() {
            var genderSelect = document.getElementById("gender");
            var isteriForm = document.getElementById("isteriNum");
            var suamiForm = document.getElementById("suamiNum");

            // Reset the visibility for both forms
            isteriForm.classList.add("hidden");
            suamiForm.classList.add("hidden");

            if (genderSelect.value === "lelaki") {
                // Show the isteriNum form
                isteriForm.classList.remove("hidden");
            } else if (genderSelect.value === "perempuan") {
                // Show the suamiNum form
                suamiForm.classList.remove("hidden");
            }
        }

        function showNextForm(prev, next) {
            var prevForm = document.getElementById(prev);
            var nextForm = document.getElementById(next);

            // Hide the prevForm
            prevForm.classList.add("hidden");

            // Display the next form
            nextForm.classList.remove("hidden");

            //fix problem for showing anakLelaki only
            if (next === 'anakPunya') {
                document.getElementById('anakPerempuanContainer').classList.add('hidden');
                document.getElementById('anakAngkatContainer').classList.add('hidden');
                document.getElementById('okuContainer').classList.add('hidden');
            }
        }

        function showPrevForm(prev, next) {
            var prevForm = document.getElementById(prev);
            var nextForm = document.getElementById(next);

            // Hide the prevForm
            nextForm.classList.add("hidden");

            // Display the next form
            prevForm.classList.remove("hidden");

            //fix problem for showing anakLelaki only
            // if (next === 'anakPunya') {
            //     document.getElementById('anakPerempuanContainer').classList.add('hidden');
            //     document.getElementById('anakAngkatContainer').classList.add('hidden');
            //     document.getElementById('okuContainer').classList.add('hidden');
            // }
        }

        //untuk isteri punya input
        function forFirstForm(selectElement, targetId) {
            var selectedValue = selectElement.value;
            var targetDiv = document.getElementById(targetId);

            // Clear existing inputs
            targetDiv.innerHTML = "";

            if (selectedValue !== "" && selectedValue !== "tiada") {
                for (var i = 1; i <= parseInt(selectedValue); i++) {
                    var label = document.createElement("label");
                    label.setAttribute("for", "isteriInput" + i);
                    label.textContent = "Nama Isteri " + i;

                    var input = document.createElement("input");
                    input.setAttribute("type", "text");
                    input.setAttribute("id", "isteriInput" + i);
                    input.setAttribute("name", "isteriInput" + i);

                    // Append label and input to the target div
                    targetDiv.appendChild(label);
                    targetDiv.appendChild(input);
                }

                // Display the target div
                targetDiv.classList.remove("hidden");
            } else {
                // Hide the target div if no selection or "tiada"
                targetDiv.classList.add("hidden");
            }
        }

        //suami punya input
        function toggleTextInput(selectElement, targetId) {
            var selectedValue = selectElement.value;
            var targetDiv = document.getElementById(targetId);

            // Toggle the visibility of the text input based on the selected value
            if (selectedValue === "ada") {
                targetDiv.classList.remove("hidden");
            } else {
                targetDiv.classList.add("hidden");
            }
        }

        function forAnakPunya(containerId, selectElement) {
            var container = document.getElementById(containerId);
            var selectedValue = selectElement.value;

            // Clear previous text inputs
            container.innerHTML = "";

            // Generate text inputs based on selected value
            if (selectedValue !== "tiada" && selectedValue !== "") {
                for (var i = 1; i <= parseInt(selectedValue); i++) {
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = containerId + "_input_" + i;
                    input.placeholder = "anak " + i;

                    container.appendChild(input);
                }

                // Display the container
                container.classList.remove("hidden");
            } else {
                // Hide the container if "tiada" or no option selected
                container.classList.add("hidden");
            }
        }

        function checkFormCompleteness() {
            // Get values of the input elements
            var perbelanjaan = document.getElementById('perbelanjaan').value;
            var anggaran = document.getElementById('anggaran').value;
            var hibah = document.getElementById('hibah').value;

            // Check if all required fields are filled
            if (perbelanjaan !== '' && anggaran !== '' && hibah !== '') {
                // If yes, show the submit button
                document.getElementById('submitButton').classList.remove('hidden');
            } else {
                // If not, hide the submit button
                document.getElementById('submitButton').classList.add('hidden');
            }
        }

    </script>

    <!-- End create wasiat -->




    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Selecao</h3>
            <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi
                placeat.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Selecao</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>